.p {
    color: white;
    font-size: 12px;
}

.SignUp{
    box-sizing: border-box;
    padding: 8px;
    color:white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.SignUp a{
    margin: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #00AEEF;
}


.SignUp a:hover{
color: white;
}

.Alert{
    margin-top: 15px ;
    height: 40px;
    box-sizing: border-box;
}
