.p {
    color: white;
    font-size: 12px;
}

.Login{
    box-sizing: border-box;
    padding: 8px;
    color:white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.Login a{
    margin: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #00AEEF;
}


.Login a:hover{
color: white;
}