.messageArea {
    background: transparent linear-gradient(180deg, #0D1232 0%, #040611 0%, #121F72 49%, #00AEEF 100%) 0% 0% no-repeat padding-box;
    position: relative;
}

.messageAreaContent {
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}