.messageArea {
    background: linear-gradient(#0D1232 15%, #00AEEF 80%);
    position: relative;
    height: 600px;
}

.messageAreaContent {
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}